<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <title>Bán Xe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
    <!-- bootstrap -->
    <link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/themes/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="themes/css/font-awesome.min2.css"> -->
    <link rel="stylesheet" type="text/css" href="~/Content/themes/css/font-awesome.min3.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link href="~/Content/themes/css/bootstrappage.css" rel="stylesheet" />
    <!-- global styles -->
    <link href="~/Content/themes/css/flexslider.css" rel="stylesheet" />
    <link href="~/Content/themes/css/main.css" rel="stylesheet" />
    <script src="~/Content/Alert.js"></script>
    

    <!-- scripts -->
    <script src="~/Content/themes/js/jquery-1.7.2.min.js"></script>
    <script src="~/Content/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/themes/js/superfish.js"></script>
    <script src="~/Content/themes/js/jquery.scrolltotop.js"></script>
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->
    <script src="~/Content/themes/js/common.js"></script>
    <script src="~/Content/themes/js/jquery.flexslider-min.js"></script>
    <script type="text/javascript">
        $(function () {
            $(document).ready(function () {
                $('.flexslider').flexslider({
                    animation: "fade",
                    slideshowSpeed: 4000,
                    animationSpeed: 600,
                    controlNav: false,
                    directionNav: true,
                    controlsContainer: ".flex-container" // the container that holds the flexslider
                });
            });
        });
    </script>

</head>
<body>
    @if (TempData["AlertMessage"] != null)
    {
        <div id="AlertBox" class="alert @TempData["AlertType"] hide">
            @TempData["AlertMessage"]
        </div>

    }
<div id="wrapper" class="container">
    <section class="navbar main-menu">
        <div class="navbar-inner main-menu">
            <a href="index.html" class="logo pull-left"><h4 class="title">NhomBanXe </h4></a>
            <div>
                <nav id="menu" class="pull-right">
                    <ul>

                        <li>
                            @Html.ActionLink("Trang chủ", "Index")
                        </li>
                        <li>
                            @Html.ActionLink("Xe Ôtô", "spOto")
                            <ul>
                                <li><a href="">@Html.Action("spTheoHangPartial", "Home")</a></li>

                                <li></li>
                            </ul>
                        </li>

                        <li>
                            @Html.ActionLink("Xe Máy", "spXemay")
                            <ul>
                                <li><a href=@Url.Action("spLoaiXeMay", "Home", new {@loaixe = "XEGA" })>Xe Ga</a></li>
                                <li><a href=@Url.Action("spLoaiXeMay", "Home", new {@loaixe = "XESO" })>Xe Số</a></li>
                            </ul>
                        </li>


                        <li>
                            <a href="">Tin tức</a>

                        </li>
                        <li>@Html.ActionLink("Tra Cứu", "Search2", "Home")</li>
                        <li>@Html.ActionLink("Quản Lý", "LoginView", "Login")</li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>
    <section class="homepage-slider" id="home-slider">
        <div class="flexslider">
            <ul class="slides">
                <li>
                    <img src="~/images/Car/xesh.jpg" alt="anh bia 1" />

                </li>
                <li>
                    <img src="~/images/Car/xemec1.jpg" alt="anh bia 2" />

                </li>
                <li>
                    <img src="~/images/Car/xemec2.jpg" alt="anh bia 3" />

                </li>

                <li>
                    <img src="~/images/Car/xevin.png" alt="anh bia 5" />

                </li>
                <li>
                    <img src="~/images/Car/xeaudi1.jpg" alt="anh bia 5" />

                </li>
            </ul>
        </div>
    </section>
    <section class="main-content">
        @RenderBody()
    </section>
    <!--inner block end here-->
    <!--copy rights start here-->
    <div class="copyrights">
        <p>© 2018 N5QPT. All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
    </div>
    <!--COPY rights end here-->

</div>
    
   

</body>
</html>